/* RESPONSE BOOTSTRAP */
@media (max-width: 767px) 
{ 
  .box_map {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .text_3, .text_4 {
    display: none;
  }
  .text_8 {
    color: #333;
    display: block;
  }
  .rigths {
    display: none;
  }
  .box_email {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .box_phone {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .rigths_1 {
    color: #FFF;
    display: block;
    font-family: "Montserrat-Bold";
    font-size: 12px;
    padding-top: 15px;
  }
  .position_1 .information {
    margin-top: 50px;
  }
  .banners {
    display: none;
  }
  .position_2 .information {
    margin-top: 200px;
    width: 100%;
  }
  .position_3 {
    background-size: 100%;
  }
  .position_3 .service_2 {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .position_3 .service_3 {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .position_4 .information {
    margin-top: 100px;
    width: 100%;
  }
  .position_page .page {
    top: 180px;
  }
  .contact {
    height: 900px;
  }
  .contact .form {
    position: relative;
    margin-top: 0px;
    top: 20px;
    width: 100%;
  }
  .googlemap {
    position: relative;
    width: 100%;
    height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) 
{ 
  .position_1 .information {
    margin-top: 100px;
  }
  .banners {
    display: none;
  }
  .position_2 .information {
    margin-top: 300px;
    width: 100%;
  }
  
}
@media (min-width: min-width: 992px) and (max-width: 1199px)
{ 
  .position_1 .information {
    margin-top: 150px;
  }
  .position_2 .information {
    margin-top: 300px;
    width: 100%;
  }
}
@media (min-width: 1200px) 
{ 
  #mobile {
    display: none;
  }
  .position_1 .information {
    display: none;
  }
  .position_2 .information {
    margin-top: 350px;
    width: 40%;
  }
  .position_4 .information {
    margin-top: 220px;
    width: 70%;
  }
}
/* RESPONSE CUSTOM */
@media (min-width: 768px) {
  .text_3, .text_4 {
  	display: block;
  }
  .rigths {
  	display: block;
  }
  .text_8 {
  	display: none;
  }
  .rigths_1 {
  	display: none;
  }
}
@media (max-width: 1199px) 
{
  .position_1 .slider {
    display: none;
  }
  .position_1 {
    background-image: url('../images/bg_slide_home.jpg');
    background-origin: 100%;
    background-position: left top;
    background-repeat: no-repeat;
  } 
  .position_2 {
    background-image: url('../images/bg_slide_services.jpg');
    background-origin: 100%;
    background-size: 1200px 677px;
  }
  .position_4 {
    background-image: url('../images/slider_footer.jpg');
    background-origin: 100%;
    background-size: 1200px 587px;
  }
  .position_5 {
    background-image: url('../images/mapa.jpg');
    background-origin: 100%;
    background-size: 1200px 600px;
  }
  .position_page {
    background-size: 1200px 500px;
  }
  .position_page .page {
    top: 250px;
  }
  #mobile {
    display: block;
  }
  .topmenu {
    display: none;
  }
  .bar {
    display: none;
  }
  .mainmenu {
    display: none;
  }
  .logo {
    display: none;
  }
  
}
@media (max-width: 991px) 
{ 
  .page_empresas .ceo {
    position: relative;
    width: 100%;
    right: 0px;
    top: 0px;
    z-index: 0;
    background: #FFF;
    box-shadow: 0px 0px 0px;
    padding: 20px;
  }  
  .page_empresas .content {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 0;
    background: #e7e8e8;
    padding-top: 0px;
    padding-right: 0px
  }
}
/* css reponse */
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}